//Style Variables

$todoColor : #1C1A42;

.App {
    min-height: 100px;
    width: 350px;
    background-color: $todoColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 25px 20px;

    h1 {
        margin-bottom: 20px;
    }
}

